aiosqlite==0.21.0
autopep8==2.3.2
bleak==1.1.1
dbus-fast==2.44.5
freezegun==1.5.5
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
meshcore==2.1.9
packaging==25.0
pdoc==15.0.4
pluggy==1.6.0
prompt_toolkit==3.0.52
pycayennelpp==2.4.0
pycodestyle==2.14.0
Pygments==2.19.2
pyserial==3.5
pyserial-asyncio==0.6
pytest==8.4.2
pytest-asyncio==1.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
six==1.17.0
typing_extensions==4.15.0
wcwidth==0.2.14
